
/*------VARIABLES------*/
:root {

    --bg-color-primo: blue;
    --bg-color-secondo: red;

    
}

/*------COMMON PARTS------*/
.ms-cell {

   min-height: 200px;
   line-height: 200px;
   border: 1px solid black;

}

.ms-fizz {

    background-color: aquamarine;

}

.ms-buzz {

    background-color: coral;

}

.ms-fizzbuzz {

    background-color: blueviolet;

}

/*------SPECIFIED PARTS BY ID------*/

